// font
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// variabel
$primary-color : #00B1FF;

// style
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #777; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@mixin card($type) {
    .card {
        @if $type == 'project' {
            padding: 0px;
            .card-body {
                padding: 20px;
                border-radius: 15px 15px 0px 0px;
            }
        } @else {
            padding: 20px;
        }
        
        border-radius: 5px;
        border: none;
        box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, .15);
        transition: .3s;
    }
    
    @if $type == 'contact' {
        .card:hover {
            transform: scale(.95);
            background-color: $primary-color;
            color: #fff;
        }
    } @else {
        .card:hover {
            transform: translateY(-20px);
            box-shadow: 0px 8px 30px 0px rgba(42, 67, 113, .1);
        }
    }
}

.navbar {
    box-shadow: 0px 1px 20px 0px rgb(0,0,0,.1);
    
    .navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        transition: box-shadow .15s ease-in-out;
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }
    
    .nav-link {
        color: #333 !important;
        transition: .3s;
    }

    .nav-link:hover, nav-link:focus {
        color: $primary-color !important;
    }
}

.about {
    img {
        box-shadow: 8px 8px 30px 0px rgba(42, 67, 113, .15);
    }
}


.justify {
    text-align: justify;
}

.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
}

.btn-primary {
    background: $primary-color !important;
    border-color: $primary-color !important;
}

.btn-outline-primary {
    border-color: $primary-color !important;
    color: $primary-color !important;
}

.btn-outline-primary:hover {
    background: $primary-color !important;
    border-color: $primary-color !important;
    color: white !important;
}

.text-primary {
    color: $primary-color!important;
}

.hero, .feature, .latar {
    background-color: #fafaff;
}


.footer  {
    background-color: $primary-color;
    color: #fff;
}

.title {
    font-size: 100px;
}

.tagline {
    line-height: 35px;
}

.project {
    @include card('project');
}

.client {
    @include card('client')
}

.contact {
    @include card('contact');
}

@media only screen and (max-width: 768px) {

    .about, .about p {
        text-align: center;
    }

}